//sass --watch sass:css --style compressed

@import "modules/navbar.scss";
@import "modules/vars.scss";

.hidden {
  display: none;
}

.overflow {
  overflow: hidden;
}

body {
  background: #ffff;
  max-width: 100vw;
  overflow-x: hidden;
}

li,
.yellow-btn {
  cursor: pointer;
}

h2 {
  font-size: 40px;
  color: $theme-color;
  margin: 40px 20px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffff;
  padding: 20px 0;
  justify-content: center;

  img {
    width: 30vw;
  }

  .hamburger-menu {
    position: absolute;
    right: 0;
    .bar {
      background: $theme-color;
      width: 50px;
      height: 8px;
      margin: 5px;
      border-radius: 10px;
    }
  }
}

.hero {
  max-width: 100vw;
  padding: 0;
  img {
    width: 100%;
    object-fit: contain;
  }
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.promo-video,
.instruction-video {
  iframe {
    width: 100%;
    height: 50vw;
  }
}

.easy-to-use {
  .steps {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .step {
    background: black;
    margin: 10px 5px;
    width: 90%;
    height: 100vw;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .p-wrapper {
      position: absolute;
      background: $theme-color-low-opacity;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;

      p {
        padding: 0 10px;
        text-align: left;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }
    }
  }
}

.easy-to-clean {
  p {
    color: $theme-color;
    padding: 10px;
  }
  img {
    width: 100%;
  }
}

.feature-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  .feature {
    background: $theme-color;
    margin: 20px 10px;
    width: 300px;
    height: 300px;

    img {
      object-fit: cover;
      position: relative;
      top: 30px;
      opacity: 0.5;
      height: 60%;
    }

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 250px;
      height: 100px;
      margin: 0 auto;
      font-weight: 700;

      line-height: 30px;
    }
  }
}

.distributors {
  h4,
  p {
    color: $black;
    line-height: 5vw;
  }

  h3 {
    color: $black;
    font-size: 4vw;
    line-height: 6vw;
  }

  h4 {
    font-size: 3vw;
  }

  p {
    font-size: 2vw;
  }

  img {
    margin: 20px;
    width: 30vw;
  }

  .text-wrapper {
    display: flex;
    margin: 20px;
  }

  .border {
    height: 15vw;
    width: 2px;
    background: $black;
    position: absolute;
    left: 50vw;
  }

  .description {
    position: absolute;
    left: 3vw;
    h4,
    p {
      text-align: right;
    }
  }

  .catalogue {
    position: absolute;
    right: 25vw;
  }

  .amazon {
    height: 50vw;
  }

  .highland,
  .leevalley {
    height: 70vw;
    .border {
      height: 25vw;
    }
  }
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .project {
    background: $theme-color;
    border-radius: 5px;

    flex: 1 0 280px;
    max-width: 320px;
    margin: 20px;

    img {
      width: 100%;
      object-fit: cover;
    }

    p {
      padding: 20px 40px;
      font-size: 15px;
      height: 250px;
    }
  }

  .show-hide {
    display: none;
  }
}

.yellow-btn {
  background: #f5a623;
  width: 200px;
  height: 80px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  h4 {
    font-weight: normal;
  }
  span {
    font-weight: bold;
  }
}

.replacement {
  width: 100vw;
  margin: 40px 0px;

  svg {
    width: 100%;
  }

  .partInfo {
    width: 100%;
    background: $theme-color;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;

    p {
      text-align: center;
    }
  }
}

footer {
  background: $theme-color;
  // display: flex;
  justify-content: space-between;
  padding: 40px;

  .wrapper-left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin: 10px 0;
    }
  }

  .navBar {
    display: block;

    li {
      padding: 20px;
      font-size: 25px;
    }
  }
}

@media screen and (min-width: 768px) {
  .easy-to-use {
    .steps {
      justify-content: center;
    }

    .step {
      width: 250px;
      height: 500px;
      margin: 10px;

      p {
        height: 20%;
      }
    }
  }

  .easy-to-clean {
    display: flex;
    padding: 40px 20px;
    // background: $theme-color;

    p {
      font-size: 2vw;
    }

    img {
      width: 50%;
      object-fit: contain;
    }
  }

  footer {
    display: flex;
    padding: 20px;
    height: 200px;

    .navBar {
      ul {
        display: flex;
      }

      li {
        font-size: 20px;
        padding: 0px 40px;
      }
    }

    .wrapper-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .yellow-btn {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .easy-to-use .steps {
    justify-content: space-evenly;
  }
  .easy-to-use .step {
    width: 230px;
    height: 400px;
    margin: 10px;
  }

  .easy-to-clean {
    padding: 60px;
    justify-content: center;

    p {
      width: 500px;
    }
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .project {
      margin: 20px auto;
    }
  }
}

@media screen and (min-width: 1440px) {
  .project-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

//a
